<!DOCTYPE html>
<html> 
<head> 
    <title> Mein eigenes Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body> 
       <h1>Andis Dashboard</h1>
    <div class = "dashboard">
    <div class ="leistungsfluss">
    <h2>Aktueller Leisungsfluss</h2>
        <div class = "werte">
        <div class = "pv">
            <h3>PV</h3>
            <p>{{pv}} W</p>
        </div>
        <div class ="haus">
            <h3>Haus</h3>
            <p>{{p_haus}} W</p>
        </div>
        <div class="batterie">
            <h3>Batterie</h3>
            <p>{{p_bat}}</p>
        </div>
        <div class="netz">
            <h3>Netz</h3>
            <p>{{p_netz}} W</p>
        </div>
        <div class="soc">
            <h3>SOC</h3>
            <p>{{soc}}</p>
        </div>
    </div>
    </div>
    <div class = "auswertung">

            <div class ="enrgiebilanz">
                <h3>Energiebilanz</h3>
                </div>
            <div class="kosten">
                <h3>Kosteneinsparungen</h3>
                </div>
    </div>
    <div class = "heute">
        <h2>Heute</h2>
        <p>{{date}}</p>
        <p>{{time}}</time></p>
        <p>{{weather}}</p>
    </div>
    <div class ="anlagendaten">
        <h2>Anlagendaten</h2>
        <p>{{user}}</p>
        <p>{{p_anlage}} kWp</p>
        <p>{{nenn_kap}} kWh</p>
    </div>
    <div class="status">
        <h2>Statusmeldungen</h2>
        <div class="meldungen">
            <p>Fuktion die Stautsmeldungen zurückgibt</p>
            </div>

    </div>
    </div>
    
   
</body>
</html>
